@charset "utf-8";

*{
	margin:0;
	padding:0;
	box-sizing:border-box;		
}

html{
	scroll-behavior:smooth;
}
html,body{
	font-family: 'Noto Sans KR', sans;
	font:10pt/180%;
	background:#E7F9FC;
}
img{
	width:100%;
	display:block;
}
a{
	text-decoration:none;
	color:black;
}
#layout{	
	max-width:80vw;
	margin:auto;
	position:relative;
	overflow:hidden;
}
section{
	height:100vh;
}

/*header*/
header{		
	width:80%;
	margin:auto;
	z-index:1;
	display:flex;
	justify-content:space-between;
	font-size: 1.2rem;
	background:transparent;
	position:fixed;
	top:40px;
	left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
header p{
	background:transparent;
}
header p:nth-of-type(1){
	z-index: 1;
}
header div{
	background-color:transparent;
}
header div a{	 
	background-color:transparent;
	position:relative;	
}
header div a::after{
	content:'';
	width:0%;
	height:2px;
	background-color: black;
	position:absolute;
	bottom:0%; left:50%;
	transition:all 500ms ease;
}
header div a:hover::after{
	left:0%;
	width:100%;
}
header nav{
	display:none;
} 
header>span{
	display:none;
 }
/*첫화면*/
#page1 h1{	
	font-size: 9rem;
	letter-spacing :-6px;
	line-height: 80%;
	margin-top:150px;margin-bottom: 10px;
}

#page1 img{
	width:40%;	
}
.page1footer{	
	display:flex;
	height:22vh;
	margin-top:50px;
	position:relative;
}
.page1footer a { 			
	bottom:0;
	left:0;	
	flex:2;
	position:relative;
}
.page1footer a img{	
	position:absolute;
	bottom:0;	
	resize:both;
	max-width:121px;
}
.page1footer span{			
	position:absolute;
	bottom:0;
	left:20%;
}
.page1footer p{
	flex:1;
	font-size: 9rem;
	letter-spacing :-8px;
	line-height: 80%;
	font-weight: bold;
	position:absolute;
	bottom:0;
	right:0;
}


/*소개1*/
#page2{	
	position:relative;
}
#page2 h2{	
	display:inline-block;
	margin-top:120px;
}
#page2 img{
	width:25%;
	margin-top:100px;
}
.page2p1{	
	position:absolute;	
	left:35%;
	top:14%;
	font-size:2rem;
	width:65%;
	text-align:justify;
}
.orange{
		 box-shadow: inset 0 -10px 0 #FF773C;	
	}
.page2p2{
	position:absolute;
	width:20%;
	line-height:200%;
	font-size:1.1rem;
	top:60%;
	left:35%;
}
.page2p3{	
	position:absolute;
	right:0;
	width:30%;
	text-align:justify;
	line-height:200%;
	font-size:1.1rem;
	top:60%;
}
#page2 a{	
	position:absolute;
	bottom:5%;
	right:45%;
	font-weight:bold;
	padding-bottom:3px;
	border-bottom:1px solid black;
}

/*소개2 가능성*/
#page3{	
	position:relative;
}
.page3h2{
	display:inline-block;	
	position:absolute;
	top:250px;
}
#page3>p{
	display:inline-block;	
	font-size: 9rem;
	font-weight:bold;
	letter-spacing :-8px;	
	position:absolute;	
	left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
	text-align:center;
	margin-top:200px;
}
.possibility{
	position:absolute;
	top:50%;
	padding-left:20%;
	padding-right:20%;
}
.pos{
	display:flex;
	padding:10px;
	align-items:center;
}
.pos h2{
	padding-right:120px;	
	padding-left:50px;
}
.pos p{
	font-size:1.4rem;
	font-weight:bold;
	width:200px;	
}
.pos hr{
	background:#FF773C;	
	border:none;
	margin-top:25px;
	margin-bottom:5px;	
	width:200px;
	height:10px;
}
.pos:nth-child(1) hr{
	width:120%;
}
.pos:nth-child(2) hr{
	width:115%;
}
.pos:nth-child(3) hr{
	width:102%;
}
.pos:nth-child(4) hr{
	width:135%;
}


/*소개3 skill*/
#page4{	
	position:relative;
}
#page4 h2{
	display:inline-block;	
	position:absolute;
	top:250px;
}
#page4 span{	
	position:absolute;	
	left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
	top:250px;
	text-align:center;
	font-size:2rem;
}
.page4skill{	
	position:absolute;	
	left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
	text-align:center;
	top:350px;
	
}
.hcjpa a{	
	margin:15px;
	font-size: 9rem;
	font-weight:bold;
	letter-spacing :-8px;
	position:relative;
}
.hcjpa a::after{
	content:'';
	width:0%;
	height:2px;
	background-color: black;
	position:absolute;
	bottom:0%; left:50%;
	transition:all 500ms ease;
}
.hcjpa a:hover::after{
	left:0%;
	width:100%;
}

.page4skill div{
	margin-bottom:30px;
	position:relative;	
}
.page4skill div p{
	position:absolute;
	width:100%;
	margin:auto;
	font-size:1.3rem;	
	display:none;
}


/*포트폴리오*/
#page5{	
	position:relative;
	width:100%;		
	overflow:hidden;
}
/*슬라이더 좌우버튼*/
.side-btns button{
	background: none;
	border:none;
	cursor: pointer;
	
}
.side-btns div button{
	width:40px;	
	position:absolute;	
	top:50%;
	z-index:1;
}
.arrowright{
	 left:auto;
   right:0;
}
/*슬라이더 페이지버튼*/
.page-btns{
	text-align:center;
	position:absolute;
	bottom:20px;
	left:0;
	width:100%;	
}
.page-btns button{
	border:none;
	width:10px;
	height:10px;
	background-color:rgba(0,0,0,0.5);
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
}
.page-btns>button.active{
	background-color:rgba(0,0,0,1);
}


/*포트폴리오 내용*/
#work_total{	
	width:calc(100% * 3);
	height:100%;
	display: flex;
	position:relative;
	left:-80vw;
	
}
.page5pp1>h2{
	display:inline-block;	
	position:absolute;
	top:120px;
}
#work_total span{
	display:none;
}
.page5pp1{	
	display:flex;	
	width:100%;
	height:100%;	
  	margin:auto;
	align-items:center;
	padding-left: 3%;	
	
}

.page5pp1 p{
	font-size:1.2rem;
}
#iframe{
	position:relative;
	margin-left:10%;
}
#iframe img{

	padding-top:100px;
	width:100%;
	height:600px;
}
#iframe video{
	position:absolute;
	width:96%;
	left:2.5%;
	top:20%;
}
.workcontent{
	height:700px;	
	width:530px;	
	position:relative;
}

.workcontent h3{
	font-size: 7rem;	
	letter-spacing :-8px;
	position:absolute;
	top:10%;
}
.workcontent>p{
	position:absolute;
	top:45%;
}

.workcontent>div{
	position:absolute;
	bottom:0;
	width:30vw;
}
.workcontent>div>div{
	border-bottom:1px solid black;
	display:flex;
	justify-content:space-between;
	padding:30px;
}
.pdf a{
	border:1px solid black;
	padding:5px 15px;
	border-radius:50%;
}
.pdf a:hover{
	background:black;
	color:white;
	transition:0.3s;
}

/*그 외(포스터/배너)*/
#posters {	
	position:relative;
}
#posters h2{	
	display:inline-block;	
	position:absolute;
	top:120px;
}
#posters h3{
	font-size:7rem;
	letter-spacing :-8px;
	position:absolute;
	top:10%;
	left:20%;
}
.posterscontents{	
	height:100%;
	display:flex;
}
.postersimg{	
	width:50%;	
	margin:auto;
	flex:1;
	display:flex;
	flex-wrap : wrap;
	margin-top:270px;	
	align-items:center;
}
.postersimg a{
	margin-left:13%;
	margin-bottom:20px;		
	width:30%;	
	position:relative;
	box-shadow:2px 3px 5px rgba(0,0,0,0.7);
	transition:all 0.3s linear;	
}
.postersimg a span{
	position:absolute;
	text-align:center;
	width:100%;
	height:100%;	
	font-size:1.2rem;
	opacity:0;
	transition:0.3s;
	font-weight:bold;	
}

.postersimg a:hover{
	transform: scale(1.2);
	
}
.postersimg a:hover img{
	opacity:0.5;
}
.postersimg a:hover span{	
	animation: spanup 2s both;
}
@keyframes spanup{
	from {opacity:0; 
						transform:translate(0,-30%);}
	to {opacity:1; 
				transform:translate(0,-65%);}
}

.mockup1{
	flex:1;
	position:relative;
}
.mockup1 iframe{
	width:70%;
	height:70%;
	position:absolute;
	top:20%;
	left: 20%;
}
#popup{
	display:none;
}

/*personal interests*/
#interest{	
	position:relative;	
	overflow:hidden;
}
#interesttotal{
	height:100%;
	width:calc(100% * 3);
}
#interest h2{
	display:inline-block;	
	position:absolute;
	top:120px;
}
#interest h2+p{
	font-size:1.3rem;
	position:absolute;
	top:120px;
	left:30%;
}
.interesttitle{
	position:absolute;
	display:flex;
	font-size:7rem;	
	top:20%;
}
.interesttitle a{
	z-index:1;
	margin-right:120px;
	letter-spacing:-7px;	
	width:550px;
}
#interests3type{	
	display:flex;
	height:100%;
	position:relative;
}
#interests3type nav{
	width:100%;
	height:100%;
	display:flex;		
	position:relative;
}
#interests3type nav h4{
	position:absolute;
	bottom:40%;
	font-size:1.3rem;
}
#interests3type nav p{
	position:absolute;
	bottom:20%;
	width:40%;
	font-size:1.2rem;
		text-align:justify;
}
#interests3type nav img{
	width:43%;	
	position:absolute;
	bottom:7%;
	right:7%;
}


/*마지막 contact*/
#footer{
	position:relative;
}
#footer span{
	position:absolute;
	left:0;
	right:0;
	text-align:center;
	font-size:2rem;
	font-weight:500;
	top:27%;
}
#footer p{
	position:absolute;
	left:0;
	right:0;
	text-align:center;
	font-size:9rem;
	letter-spacing:-8px;
	top:32%;
	font-weight:500;
}
#footer div{
	position:absolute;
	bottom:20px;
	left:0;
	right:0;
	display:flex;
	justify-content:space-between;
}
#footer div a{
	font-size:1.2rem;
}


/****************(최대넓이: 0~1000픽셀) ********************************/
@media(max-width:1024px){
	#layout{
		max-width:100vw;
	}
	#page1{
		position:relative;
	}
	#page1 h1{
		position:absolute;
		top:20%;
		letter-spacing:-2px;
		font-size:3rem;
		line-height:100%;
		margin-top:15vh;
	}
	#page1 h1+img{
	margin-top:4vh;
	width:95vw;	
	position:absolute;
	top:50%;
	}
	.page1footer{
		width:100vw;
		position:absolute;
		bottom:0;
	}
	.page1footer span{
	font-size:1.2rem;
	line-height:120%;
	position:absolute;
	top:-250%;
	left:2vw;
	}
	.page1footer a{
		position:absolute;
		width:20vw;
		height:10vh;
		bottom:0;
		display:block;
	}

	.page1footer p{
		font-size: 3rem;
		letter-spacing:-2px;
		top:2vh;
		right:5vw;
	}
		/*소개 page2*/
	#page2{
		height:150vh;
	}
	#page2 h2{
		font-size:1rem;
		margin-top:90px;
		font-weight:400;
	}
	#page2 img{
		display:none;
	}
	.page2p1{
		font-size:1.2rem;
		left:2.5vw;
		top:25vh;
		width:95vw;
		line-height:200%;
		font-weight:500;
	}
	.page2p2{
	position:absolute;
	width:95vw;
	line-height:120%;
	font-size:1rem;
	top:68%;
	left:2.5%;
	font-weight:500;
	}
	.page2p3{	
		position:absolute;
		width:95vw;
		line-height:120%;
		font-size:1.1rem;
		top:78%;
		left:2.5vw;
		font-weight:500;
	}
	#page2 a{
		display:none;
	}
}
/***모바일****/
@media(max-width:600px){
	/*최상단 고정구역*/
	#layout{
		max-width:100vw;
	}
	header p:first-of-type{
		padding-left:3vw;
	}
	header p:not(:first-of-type){
		display:none;
	}
	header{
		width:100vw;
		font-size:1rem;
		font-weight:bold;
	}
	header>div{
		display: none;
	}
	header nav{
		position:absolute;
		width:100vw;
		height:100vh;
		font-size:1.3rem;
		background: #E7F9FC;
		top:-4vh;
		display: none;
	}
	header>span{
		position:fixed;
		right:3vw;
		font-size: 1.3rem;
		display:block;
		z-index:1;
	}
	header nav>ul{
		position:absolute;
		list-style: none;
		font-size: 4rem;
		line-height: 100%;	
		bottom:25vh;
		left: 5vw;
	}
	header nav span{
		font-weight: lighter;
		font-size: 1.3rem;
		position:absolute;
		bottom:5vh;
		left:5vw;
	}
	header nav span:nth-of-type(1){
		bottom:14vh;
	}

		/*소개2 가능성*/
	#page3{	
		position:relative;
	}
	.page3h2{
		display:inline-block;	
		position:absolute;
		top:15%;
		font-size:1rem;
		font-weight:400;
	}
	#page3>p{
		font-size: 3rem;
		font-weight:bold;
		letter-spacing :-3px;	
		position:absolute;	
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		top:-10%;
	}
	.possibility{
		position:absolute;
		top:30%;
		left:0;
		padding:0;
		height:70vh;
	}
	.pos{
		padding:0;
		margin-left:2vw;
		align-items:center;
		width:95vw;
		height:16vh;

	}
	.pos h2{
		font-size:1.2rem;
		padding-right:0;	
		padding-left:0;
	}
	.pos p{
		font-size:1.2rem;
		font-weight:bold;
		width:35vw;	
	}
	.pos hr{
		background:#FF773C;	
		border:none;
		margin-top:18%;
		margin-bottom:5px;	
		width:200px;
		height:7px;
	}
	.pos div{
		font-size:0.8rem;
		font-weight:500;
		width:95%;
	}
	.pos:nth-child(1) hr{
		width:83%;
	}
	.pos:nth-child(2) hr{
		width:87%;
	}
	.pos:nth-child(3) hr{
		width:80%;
	}
	.pos:nth-child(4) hr{
		width:90%;
	}


	/*소개3 skill*/
	#page4{	
		position:relative;
	}
	#page4 h2{
		display:inline-block;	
		position:absolute;
		top:15%;
		font-size:1rem;
		font-weight:400;
	}
	#page4 span{	

		position:absolute;	
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		top:20%;
		text-align:center;
		font-size:2rem;
	}
	.page4skill{		
		position:absolute;	
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		text-align:center;
		top:38vh;
	}

	.hcjpa a{	
		margin:15px;
		font-size: 3rem;
		font-weight:bold;
		letter-spacing :-3px;
	}
	.hcjpa a::after{
		content:'';
		width:0%;
		height:2px;
		background-color: black;
		position:absolute;
		bottom:0%; left:50%;
		transition:all 500ms ease;
	}
	.hcjpa a:hover::after{
		left:0%;
		width:100%;
	}

	.page4skill div{
		margin-bottom:30px;
		position:relative;	
	}
	.page4skill div p{
		position:absolute;
		width:95vw;
		left:2vw;
		margin-top:10%;
		font-size:1rem;	
		display:none;
		font-weight:500;
	}
	
	
	/*포트폴리오*/
#page5{
	position:relative;
	width:100%;		
	height:300vh;
}
/*슬라이더 좌우버튼*/
.side-btns button{
	display:none;
}

/*슬라이더 페이지버튼*/
.page-btns{
	display:none;
}

/*포트폴리오 내용*/
	#work_total{	
		height:300vh;
		position:relative;
		flex-direction:column;
	}
	#work_total span{
		display:block;
		position:absolute;
		top:8%;
		font-weight:500;
	}
	.page5pp1{		
		height:100vh;
	}
	.page5pp1 h2{
			display:inline-block;	
			position:absolute;
			top:7%;
			left:0;
			font-size:1rem;
			font-weight:400;
	}
	.page5pp1:nth-of-type(1) h2{
		display:block;
	}
	.page5pp1:nth-of-type(2) h2{
		top:120vh;
	}
	.page5pp1:nth-of-type(3) h2{
		top:220vh;
	}


	.page5pp1 p{
		font-size:1.2rem;
	}
	.page5pp1 img{
		position:absolute;
	 width:80vw;
	 height:50vh;
	 margin-left:0;
		padding-top:30px;
		padding-bottom:50px;
	}
	.workcontent{
		position:relative;
		width:95vw;
		left:-2.5%;
	}
	.workcontent h3{
		font-size: 2rem;	
		letter-spacing:-2px;
		position:absolute;
		top:14%;
		left: 0;
		right: 0;
		text-align:center;
	}
	.workcontent>p{
		position:absolute;
		top:75%;
		font-size:0.95rem;
		text-align:center;
		font-weight:500;
		width:95vw;
		
	}

	.workcontent>div{	
		position:absolute;
		bottom:2vh;
		width:100%;
	}
	
	.workcontent>div>div{
		position:relative;
		height: 13vh;	
		justify-content:center;
		border-bottom:0;
	}
	.workcontent>div>div p{
		position:absolute;
		top:0;
	}
	.pdf{
		position:absolute;
		padding-top:10%;
	}
	.workcontent>div>div:nth-of-type(2){
		display:none;
	}
	.workcontent>div>div:nth-of-type(3){
		display:none;
	}

		/*그 외(포스터/배너)*/
	#posters {	
		position:relative;
	}
	#posters h2{	
		display:inline-block;	
			position:absolute;
			top:15%;
			left:0;
			font-size:1rem;
			font-weight:400;
	}
	#posters h3{
		font-size:4rem;
		letter-spacing :-3px;
		position:absolute;
		top:10%;
		right:0;
		left:0;
		text-align:center;
	}
	.posterscontents{	
		height:100%;
		position:relative;
	}
	.postersimg{	
		width:60%;	
		flex:1;
		display:flex;
		flex-wrap : wrap;
		margin-top:30vh;	
		align-items:center;
	}
	.postersimg a{
		margin:auto;
		margin-bottom:10vh;		
		width:35%;	
		position:relative;
		box-shadow:2px 3px 5px rgba(0,0,0,0.7);
		transition:all 0.3s linear;	
	}
	.postersimg a span{
		position:absolute;
		font-size:1.2rem;
		opacity:0;
		transition:0.3s;
		font-weight:bold;
		left:30%;
		top:0;
		bottom:0;
		margin:auto;
		display:flex;
		align-items:center;
	}

	.postersimg:hover a{
		transform: scale(1.2);
		
	}
	.postersimg a:hover img{
		opacity:0.3;
	}
	.postersimg a:hover span{	
		animation: spanup 2s both;
	}
	@keyframes spanup{
		from {opacity:0;}
		to {opacity:1;}
	}
	.mockup1{
		display:none;
	}
		/*팝업 -- 큰이미지 보기*/
	#popup {
			position:fixed; top:0; width:100%; height:100vh;
			background:rgba(0,0,0, 0.9); z-index:2;
			overflow:auto; /*이미지(자식)가 클때 스크롤바(부모)가 생긴다*/
			display:none;
	}

	#popup img {margin:auto;}


	/*personal interests*/
	#interest{	
		position:relative;	
		overflow:hidden;
	}
	#interesttotal{
		height:100%;
		width:calc(100% * 3);
	}
	#interest h2{
		display:inline-block;	
				position:absolute;
				top:15%;
				left:0;
				font-size:1rem;
				font-weight:400;
	}
	#interest h2+p{
		font-size:1rem;
		position:absolute;
		top:18.5%;
		left:0;
	}
	.interesttitle{
		position:absolute;
		display:flex;
		font-size:3rem;	
		top:27%;
	}
	.interesttitle a{
		z-index:1;
		margin-right:10vw;
		letter-spacing:-3px;	
		width:60vw;
	}
	#interests3type{	
		display:flex;
		height:100%;
		bottom:0;
		position:relative;
	}
	#interests3type nav{
		width:100%;
		height:70vh;
		display:flex;		
		position:relative;
		bottom:0;
		margin-top:25vh;
	}
	#interests3type nav h4{
		position:absolute;
		bottom:25%;
		font-size:1rem;
		left:0; 
		right:0;
		text-align:center;
	}
	#interests3type nav p{
		position:absolute;
		bottom:0;
		width:95vw;
		font-size:0.9rem;
		left:2vw;
	}
	#interests3type nav img{
		width:80vw;	
		position:absolute;
		top:20%;
		right:10vw;
	}

	/*마지막 contact*/
	#footer{
		position:relative;
	}
	#footer span{
		display:none;
	}
	#footer p{
		width:60%;
		height:60%;
		position:absolute;
		left:0;
		text-align:left;
		font-size:4rem;
		letter-spacing:-3px;
		top:15%;
		font-weight:500;
		word-wrap: break-word;
		line-height:120%;
	}

	#footer div{
		position:absolute;
		flex-direction:column;
		left:2vw;
	}
	#footer div a{
		margin:0;
		font-size:1.2rem;
		display:block;
	}
}



